
# Intellij
.idea/
.bsp/
target/


# Gradle
.gradle/
build/
pom.xml

# sbt
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
logs/
project/.sbtserver
.sbtserver/
.metals

# Scala-IDE specific
.scala_dependencies
.worksheet

#VS Code
.metals/
.bloop/
.ammonite/
metals.sbt

.vscode/

# Application
yourgame.log